= tinymce_assets
.row-fluid
  .span8
    = simple_form_for @workshop do |f|
      - if @workshop.errors.any?
        #error_explanation
          %h2= "#{pluralize(@workshop.errors.count, "error")} prohibited this workshop from being saved:"
          %ul
            - @workshop.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.input :title
      -#.field
        = f.input :summary, :input_html => {:class => "tinymce span12"}
      .field
        = f.input :content, :input_html => {:class => "tinymce span12"}
      -# .field
        -# = f.input :menu, :collection=>2..6
      .field
        = f.input :public
      .field
        = f.input :page_id, :collection => @page_ancestry, :label => "En la Página"
      .actions
        = f.button :submit
      = tinymce

  .span4
    = render :partial => "layouts/frame_response"
