%h1 Lista de Talleres / Charlas

= new_tool Workshop
%br
%table.table.table-striped
  %tr
    %th Title
    %th Content
    %th Menu
    %th Public
    %th

  - @workshops.each do |workshop|
    %tr
      %td= workshop.title
      %td= truncate_words workshop.content.html_safe, 8
      %td= tick workshop.menu
      %td= tick workshop.public
      %td= user_tools workshop, false, {"text"=>false}

