.row-fluid.notice-list
  .span1.notice-date.pull-left
    - fecha = l(notice.publication_date.to_date, :format=>:short).upcase.split
    = fecha[0]
    %span.fec18px= fecha[1]
  .span2.notice-image.pull-left
    = link_to notice do
      = image_tag notice.image_url(:thumb)
  .span9.notice-content.pull-left
    %h4
      = link_to "#{notice.title}", notice
    %p
      = truncate_words notice.summary, 20
