%h1 Listado de Noticias - Artículos

%table.table.table-striped
  %tr
    %th Title
    %th Summary
    %th Content
    %th Public
    %th Type
    %th Imagen
    %th
    %th
    %th

  - @notices.each do |notice|
    %tr
      %td= notice.title
      %td= truncate_words notice.summary.html_safe, 5
      %td= truncate_words notice.content.html_safe, 5
      %td= notice.public
      %td= notice.type_notice
      %td= image_tag notice.image_url(:thumb)
      %td= link_to 'Show', notice
      %td= link_to 'Edit', edit_notice_path(notice)
      %td= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Notice', new_notice_path
