- title "Noticias - #{@notices.first.title}"
- description( truncate_words @notices.first.summary.html_safe)
%h1 Listado de Noticias - Artículos

= new_tool Notice
%p

-# %table.table.table-striped
  %tr
    %th Título
    %th Sumilla
    %th Contenido
    %th Publico?
    %th Tipo
    %th Portada
    %th

  - @notices.each do |notice|
    %tr
      %td= notice.title
      %td= truncate_words notice.summary.html_safe, 5
      %td= truncate_words notice.content.html_safe, 5
      %td= tick notice.public
      %td= notice.type_notice
      %td= image_tag notice.image_url(:thumb)
      %td= user_tools notice, false, {:text=>false}

%table.table.table-striped#notice-table
  - if user_signed_in? and current_user.admin?
    - is_user_admin = true
  - else
    - is_user_admin = false
  - @notices.each do |notice|
    %tr
      %td.image= image_tag notice.image_url(:thumb) if notice.image?
      %td
        .date.orange
          = notice.publication_date.strftime("%d-%m-%Y")
        .title
          = link_to "#{notice.title}", notice
        .summary
          %p
            = truncate_words notice.summary.html_safe, 25
      %td
        %div
          - if is_user_admin
            Publicado?
            = tick notice.public
          %p
        %div= user_tools notice, false, {:text=>false}

= will_paginate(@notices)
