%h1 Listado de Noticias - Artículos

= new_tool Notice
%p

%table.table.table-striped
  %tr
    %th Título
    %th Sumilla
    %th Contenido
    %th Publico?
    %th Tipo
    %th Portada
    %th

  - @notices.each do |notice|
    %tr
      %td= notice.title
      %td= truncate_words notice.summary.html_safe, 5
      %td= truncate_words notice.content.html_safe, 5
      %td= tick notice.public
      %td= notice.type_notice
      %td= image_tag notice.image_url(:thumb)
      %td= user_tools notice, false, {:text=>false}
