- if user_signed_in? and current_user.admin?
  - administrar = true
.notice-show
  .orange
    = @notice.publication_date.strftime("%d-%m-%Y")
  .row-fluid
    .span9
      %h1= @notice.title
    .span3
      - if administrar
        = user_tools @notice, false, {:text=>false}
  .row-fluid
    .span9
      %p
        = @notice.summary.html_safe

      %p
        = @notice.content.html_safe
    .span3
      -# - if administrar
        = link_to "Agregar Imagen", new_notice_image_path(@notice), :class=>"btn btn-primary"
        %p
      - if @notice.image?
        .notice-image
          .image
            = image_tag @notice.image
          .description
            = @notice.description_image
      -# - if @notice.images.count > 0
        - @notice.images.each do |image|
          .notice-image
            .image
              = image_tag image.image
            .description
              = image.description.html_safe

