= simple_form_for(@consultant) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :charge
    = f.input :description
    = f.input :image

  .form-actions
    = f.button :submit
