%h1 Listing articles

= new_tool Article
%br
%table.table.table-striped
  %tr
    %th Title
    %th Summary
    %th Content
    %th Menu
    %th Public
    %th

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= truncate_words article.summary.html_safe, 5
      %td= truncate_words article.content.html_safe, 8
      %td= tick article.menu
      %td= tick article.public
      %td= user_tools article, false, {"text"=>false}

