%h1 Listado de Usuarios

= link_to "New User", new_user_path

%table.table.table-striped
  %tr
    %th Email
    %th Usuario
    %th
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.email
      %td
        = link_to edit_user_path(user), :class=>"btn btn-small" do
          %i.icon-edit
          Modificar
        = link_to user, :method=>:delete, :data=>{confirm: "Are you sure?"}, :class=>"btn btn-small btn-danger" do
          %i.icon-remove.icon-white
          Eliminar
