%h1 Listing Pages

= new_tool Page
%br

%table.table.table-striped
  %tr
    %th Order
    %th{:colspan=>2} Title
    %th Description/Link
    %th Public
    -#%th Articles
    %th

  - Page.roots.order(:ancestry, :position).each do |page|
    %tr
      %td
        - unless Page.higher_item(page) == nil
          = link_to up_page_path(page), :method=>:put do
            %i.icon-arrow-up
        - unless Page.lower_item(page) == nil
          = link_to down_page_path(page), :method=>:put do
            %i.icon-arrow-down
      %td{:colspan=>2}= page.title
      %td
        - if page.link?
          = link_to "#{truncate_words(page.link, 3)}", page.link
        - else
          = truncate_words page.description.html_safe, 8
      %td= tick page.public
      %td= user_tools page, false, {:text=>false}
    - if page.has_children?
      - page.children.order(:ancestry, :position).each do |children_page|
        %tr
          %td
          %td
            - unless Page.higher_item(children_page) == nil
              = link_to up_page_path(children_page), :method=>:put do
                %i.icon-arrow-up
            - unless Page.lower_item(children_page) == nil
              = link_to down_page_path(children_page), :method=>:put do
                %i.icon-arrow-down
          %td= " - #{children_page.title}"
          %td
            - if children_page.link?
              = link_to "#{truncate_words(children_page.link, 3)}", children_page.link
            - else
              = truncate_words children_page.description, 8
          %td= tick children_page.public
          %td= user_tools children_page, false, {:text=>false}
