- title @page.title
- description( truncate_words @page.description.html_safe)
.banner-article
  = render :partial => 'layouts/breadcrumb', :locals => {:this_page=>@page}
.body-article
  -# %p
    %h1= @page.title.html_safe
  - if user_signed_in? and current_user.admin?
    %p
      %b= "Nombre de Página: #{@page.title}"
    .pull-right
      = user_tools @page, false
  %p
    = @page.description.html_safe
.page-workshops
  = render :partial => "workshops/workshop", :collection => @workshops

