= simple_form_for(@tag) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description, :input_html => {:rows=>"5"}
    = f.input :link
    = f.input :parent_id, :collection=>@tag_ancestry
    = f.input :position, :value => (Tag.order(:position).last.position.to_i + 1), :as => :hidden

  .form-actions
    = f.button :submit
