%h1 Listing tags

= new_tool Tag
%br

%table.table.table-striped
  %tr
    %th Order
    %th{:colspan=>2} Title
    %th Description
    %th Articles
    %th

  - Tag.roots.order(:ancestry, :position).each do |tag|
    %tr
      %td
        - unless Tag.higher_item(tag) == nil
          = link_to up_tag_path(tag), :method=>:put do
            %i.icon-arrow-up
        - unless Tag.lower_item(tag) == nil
          = link_to down_tag_path(tag), :method=>:put do
            %i.icon-arrow-down
      %td{:colspan=>2}= tag.title
      %td= tag.description
      %td
        - if tag.articles.count > 0
          %div
            - tag.articles.each do |article|
              = link_to article do
                = truncate_words("#{article.title}", 2)
      %td= user_tools tag, false, {:text=>false}
    - if tag.has_children?
      - tag.children.order(:ancestry, :position).each do |children_tag|
        %tr
          %td
          %td
            - unless Tag.higher_item(children_tag) == nil
              = link_to up_tag_path(children_tag), :method=>:put do
                %i.icon-arrow-up
            - unless Tag.lower_item(children_tag) == nil
              = link_to down_tag_path(children_tag), :method=>:put do
                %i.icon-arrow-down
          %td= " - #{children_tag.title}"
          %td= children_tag.description
          %td
            - if children_tag.articles.count > 0
              - children_tag.articles.each do |article|
                %div
                  = link_to article do
                    = truncate_words "#{article.title}", 2
          %td= user_tools children_tag, false, {:text=>false}
