= simple_form_for(@archive, :remote=>true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :archive
    = f.input :description, :input_html=>{:rows=>"4"}

  .form-actions
    = f.button :submit
