%h2 Listing archives

= new_tool Archive, {}, {:remote=>true}

%table.table.table-striped
  %tr
    %th Archive
    %th Description
    %th

  - @archives.each do |archive|
    %tr
      %td
        - if Archive.type_of_file(archive.archive) == "image"
          = image_tag archive.archive_url(:thumb)
        - else
          -# = archive.archive.to_s.slice(0..25)
          = File.basename(archive.archive.path).slice(0..20) + "..."
      %td= archive.description
      %td= user_tools archive, false, {:text=>false, :remote=>true}

= will_paginate(@archives)
