%h1 Listado de Imágenes

- @imageable = @imageable || imageable

= new_tool([@imageable, Image])
%table.table.table-striped
  %tr
    %th Title
    %th Description
    %th Image
    %th Link
    %th

  - @images.each do |image|
    %tr
      %td= image.title
      %td= image.description
      %td= image_tag image.image_url(:thumb)
      %td= image.link
      %td= user_tools [@imageable, image], false, {:text=>false}

%br

