.accordion#accordion1
  .accordion-group
    .accordion-heading
      = link_to "Inicio", root_path, :class=>"accordion-toggle"
    .accordion-body.collapse
      .accordion-inner

  - Tag.roots.each do |tag|
    .accordion-group
      .accordion-heading
        - tiene_tags = tag.has_children? ? true : false
        - if tiene_tags
          = link_to "#collapse#{tag.id}", {:class=>"accordion-toggle", :"data-toggle"=>"collapse", :"data-parent"=>"collapse#{tag.id}"} do
            = tag.title
            %i.icon-chevron-right
        - else
          = link_to "#{tag.title}", "#", {:class=>"accordion-toggle", :"data-toggle"=>"collapse", :"data-parent"=>"collapse#{tag.id}"}
      - if tiene_tags
        .accordion-body.collapse{:id=>"collapse#{tag.id}"}
          .accordion-inner.tag-children
            - tag.children.each do |children_tag|
              .item-menu
                - if children_tag.articles.count == 1
                  = link_to "#{children_tag.title}", children_tag.articles.first
                - elsif children_tag.articles.count > 1
                  .dropdown
                    = link_to "#", {:class=>"dropdown-toggle", :"data-toggle"=>"dropdown"} do
                      = children_tag.title
                      %b.caret
                    %ul.dropdown-menu
                      - children_tag.articles.each do |article|
                        %li= link_to article, article
                - else
                  = link_to "#{children_tag.title}"
      - else
        .accordion-body.collapse
          .accordion-inner


