.accordion#accordion1
  .accordion-group
    .accordion-heading
      = link_to "Inicio", root_path, :class=>"accordion-toggle"
    .accordion-body.collapse
      .accordion-inner

  - Page.roots.order(:ancestry, :position).each do |page|
    .accordion-group
      .accordion-heading
        - tiene_pages = page.has_children? ? true : false
        - if tiene_pages
          = link_to "#collapse#{page.id}", {:class=>"accordion-toggle", :"data-toggle"=>"collapse", :"data-parent"=>"collapse#{page.id}"} do
            = page.title
            %i.icon-chevron-right.pull-right
        - else
          - if page.link?
            = link_to "#{page.title}", "#{page.link}"
          - else
            = link_to "#{page.title}", page, {:class=>"accordion-toggle"} #, :"data-toggle"=>"collapse", :"data-parent"=>"collapse#{page.id}"}
      - if tiene_pages
        .accordion-body.collapse{:id=>"collapse#{page.id}"}
          .accordion-inner.tag-children
            - page.children.order(:ancestry, :position).each do |children_page|
              .item-menu
                - if children_page.link?
                  = link_to "#{children_page.title}", "#{children_page.link}"
                - else
                  = link_to "#{children_page.title}", children_page
      - else
        .accordion-body.collapse
          .accordion-inner

